[submodule "Package Control"]
	path = Packages/Package Control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "Packages/Sublime-HTMLPrettify"]
	path = Packages/Sublime-HTMLPrettify
	url = https://github.com/victorporof/Sublime-HTMLPrettify.git
[submodule "Packages/sublimetext-markdown-preview"]
	path = Packages/sublimetext-markdown-preview
	url = https://github.com/revolunet/sublimetext-markdown-preview.git
[submodule "Packages/GitGutter"]
	path = Packages/GitGutter
	url = git://github.com/jisaacks/GitGutter.git
